{%extends 'admission/home.html'%}

{%block admission_head%}
  {%load static%}
  <link rel="stylesheet" type="text/css" href='{% static "admission/procedure.css"%}'>
  <link rel="stylesheet" type="text/css" href='{% static "admission/procedure-responsive.css"%}'>
{%endblock%}

{%block admission_body%}
  <h1>Procedure for Admissions</h1>
  <h3>Undergraduate Courses</h3>
  <p>Admission is based on two components with the following weights: </p>
  <ol class="list">
    <li>Class XII marks: 85% of effective BFS percentage</li>
    <li>Interview: 15%</li>
  </ol>
  <p>The College interviews approximately: </p>
  <ul class="list">
    <li>four applicants per seat for Economics, History and English</li>
    <li>five per seat for Mathematics</li>
    <li>six per seat for Sanskrit, Philosophy, Chemistry and Physics</li>
  </ul>
  <p>In each subject, the marks of the last candidate in this list become the ‘eligibility marks' (referred to as the ‘cut-off marks’) for being called for the interview.</p>
  <p>For details of the subjects to be taken into account and additional eligibility requirements, if any, in determining the ‘cut-off’ marks for various Discipline I Courses refer to the Requirements for Admissions section.</p>
  <p>Broadly speaking, an interview has the following components: </p>
  <ol class="list">
    <li><strong>Academic:</strong> The candidate’s academic potential and suitability for the subject chosen, beyond what is indicated by marks alone.</li>
    <li><strong>Co-Curricular:</strong> The potential to participate in the co-curricular activities of the College and to contribute to its total life. The College does not have a separate “ECA” (extra-curricular activities) quota, but proficiency in ECA is taken into account during the interview.</li>
    <li><strong>General Awareness and Sense of Values:</strong> A candidate’s personal outlook, sense of values, level of awareness and motivation.</li>
  </ol>
  <p>The candidate’s statements on the admission form about himself or herself, his or her interests, goals etc. form vital interview material.</p>
  <p>The list of short-listed applicants along with their interview schedules will be put up on the College notice board on June 18, 2014. Applicants called for the interview will get an interview call letter at their registered email address. They can also generate the interview call letter from the College website.</p>
  <p>Applicants called for interview are required to bring a printout of the call letter at the time of appearing for the interview.</p>

  <h3>Postgraduate Courses</h3>
  <p>Admission to an MA/MSc course is subject to the applicant's securing admission in the University Faculty/Department concerned, and an interview conducted by St. Stephen’s College. Dates for interviews will be notified later.</p>

  <h3>Admissions under Sports Category</h3>
  <p>Sports admissions will be done based on the composite merit of the applicants assessed on the scheme of weightage given below: </p>
  <div style="width: 50%; margin: 0 auto; margin-top: 20px;">
    <table class="table table-bordered" style="font-size: 1.12em;">
      <tr>
        <td>Sports merit (certificates and field trials): </td>
        <td>60%</td>
      </tr>
      <tr>
        <td>BFS/PCM at Class XII: </td>
        <td>25%</td>
      </tr>
      <tr>
        <td>Interview: </td>
        <td>15%</td>
      </tr>  
    </table>
  </div>
  <p>Admissions in this category are carried out by a Sports Selection Committee comprising the Principal, the members of the Department of Physical Education, and two teachers of the College selected on a departmental basis.</p>
{%endblock%}
